region                = "us-east-1"
bastion_instance_type = "t3.micro"
web_instance_type     = "t3.micro"
db_instance_type      = "t3.small"
key_pair_name         = "aws-project.pem"
admin_ip              = "197.149.66.194/32"

~                                            
